//fonts
$heading-font-family: "Exo 2", sans-serif;
$body-font-family: "Exo 2", sans-serif;
$base-font-size: calc(8px + 1vh);
$base-font-weight: 700;
$title-font-size: calc(18px + 3vh);
$title-font-weight: 700;
$subtitle-font-size: calc(18px + 2vh);
$subtitle-font-weight: 700;

//animation
$transition-duration: 0.5s;
