<div class="dashboard">
  <div class="row dashboard-container">
    <div class="col-6">
      <div class="row dashboard-item">
        <div class="col-12">
          <div class="fit-content">
            <h1 class="welcome-message">
              <span>Welcome, </span>
              <span class="tag-name">Pazztronaught213</span>
            </h1>
            <div class="underline-decor">
              <img
                src="../../../../assets/components/decorators/underline.svg"
              />
            </div>
          </div>
          <div class="challenge-title">
            <h2>How to create a challenge</h2>
          </div>
          <div class="challenge-1">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Map.svg" />
              </div>
              <div class="info">
                <div class="type">Map</div>
                <div class="title">Choose puzzle locations</div>
                <div class="details">
                  A challenge is a series of customizable puzzles (2-6) you can
                  place anywhere in the world for your friends to play.
                </div>
              </div>
            </div>
          </div>

          <div class="challenge-2">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Puzzle.svg" />
              </div>
              <div class="info">
                <div class="type">Puzzle Creator</div>
                <div class="title">Customize Puzzles</div>
                <div class="details">
                  Each puzzle you choose can be customized to fit your creative
                  wishes.
                </div>
              </div>
            </div>
          </div>

          <div class="challenge-3">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Challenge.svg" />
              </div>
              <div class="info">
                <div class="type">Puzzle Creator</div>
                <div class="title">Customize Puzzles</div>
                <div class="details">
                  Each puzzle you choose can be customized to fit your creative
                  wishes.
                </div>
              </div>
            </div>
          </div>

          <div class="share">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Share.svg" />
              </div>
              <div class="info">
                <div class="title">Share it with friends!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
