<div class="dashboard">
  <div class="dashboard-container">
    <div class="dashboard-left">
      <div class="row dashboard-item">
        <div class="col-12">
          <div class="fit-content">
            <h1 class="welcome-message">
              <span>Welcome, </span>
              <span class="tag-name">Pazztronaught213</span>
            </h1>
            <div class="underline-decor">
              <img
                src="../../../../assets/components/decorators/underline.svg"
              />
            </div>
          </div>
          <div class="challenge-title">
            <h2>How to create a challenge</h2>
          </div>
          <div class="challenge-1 menu-option-effect">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Map.svg" />
              </div>
              <div class="info">
                <div class="type">Map</div>
                <div class="title">Choose puzzle locations</div>
                <div class="details">
                  A challenge is a series of customizable puzzles (2-6) you can
                  place anywhere in the world for your friends to play.
                </div>
              </div>
            </div>
          </div>

          <div class="challenge-2 menu-option-effect">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Puzzle.svg" />
              </div>
              <div class="info">
                <div class="type">Puzzle Creator</div>
                <div class="title">Customize Puzzles</div>
                <div class="details">
                  Each puzzle you choose can be customized to fit your creative
                  wishes.
                </div>
              </div>
            </div>
          </div>

          <div class="challenge-3 menu-option-effect">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Challenge.svg" />
              </div>
              <div class="info">
                <div class="type">Challenge Details</div>
                <div class="title">Add Details</div>
                <div class="details">
                  Choose a title, add a challenge description, and upload your
                  challenge logo.
                </div>
              </div>
            </div>
          </div>

          <div class="share menu-option-effect">
            <div class="background d-flex">
              <div class="icon">
                <img src="./../../../../assets/icons/Share.svg" />
              </div>
              <div class="info">
                <div class="title">Share it with friends!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-right">
      <div class="row dashboard-item">
        <div class="col-12 d-flex flex-column justify-content-between">
          <div class="d-flex flex-column justify-content-center">
            <h1 class="challenge-list">My Challenges</h1>
            <br />
            <div class="challenge-item">
              <div class="icon">
                <img
                  src="./../../../../assets/components/dashboard/Border.svg"
                />
              </div>
              <div class="info row">
                <div class="title col-12">English and Language Arts</div>
                <div class="stats col-12 row">
                  <div class="played col-6">Played: <b>164 People</b></div>
                  <div class="pazzcode col-6">Pazzcode: <b>59-sk-94</b></div>
                </div>
              </div>
              <div class="buttons d-flex">
                <div class="mod-button">
                  <div class="delete-small">
                    <img src="./../../../../assets/icons/Delete_small.svg" />
                  </div>
                  <div class="edit-small">
                    <img src="./../../../../assets/icons/Edit_small.svg" />
                  </div>
                </div>
                <div class="share-small">
                  <img src="./../../../../assets/icons/Share_small.svg" />
                </div>
              </div>
            </div>
          </div>
          <div>
            <div
              class="create-challenge d-flex flex-column justify-content-center"
            >
              <div class="underline">
                <img
                  src="./../../../../assets/components/decorators/glowing-underline.svg"
                />
              </div>
              <img
                src="./../../../../assets/buttons/Create a new challenge.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
