.dashboard-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

app-navbar {
  position: fixed;
  z-index: 100;
  overflow: auto;
  height: 100%;
  min-width: 10rem;
  max-width: 10rem;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: linear-gradient(
    180deg,
    rgba(53, 36, 255, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(153, 78, 255, 1) 100%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
}

.dashboard-layout {
  width: 0;
  margin-left: 10rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url("./../../../../assets/backgrounds/background.svg") bottom
    center;
  background-size: 120%;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
